@page
@model UpdateModel

<div class="card shadow mt-4">
    <div class="card-header bg-primary text-white text-center">
        Edit Product
    </div>

    <div class="card-body">
        <form method="post">

            <input type="hidden" asp-for="Product.Id" />

            <div class="mb-3">
                <label class="form-label">Name</label>
                <input asp-for="Product.Name" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input asp-for="Product.Price" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary px-4">Update</button>
                <a asp-page="/Index" class="btn btn-secondary">Cancel</a>
            </div>

        </form>
    </div>
</div>
